<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <!-- <i class="fa fa-bars toggle-sidebar-btn" aria-expanded="false" aria-label="Toggle navigation"
      (click)="visibleMenu('togale')" *ngIf="isShow"></i>
    <i class="fa fa-close toggle-sidebar-btn" *ngIf="!isShow" (click)="visibleMenu('togale')"></i> -->

    <i class="fa fa-bars toggle-sidebar-btn" aria-expanded="false" aria-label="Toggle navigation"
      (click)="clickEvent()"></i>

    <a href="index.html" class="logo ml-5 d-flex align-items-center">
      <span class="d-none d-lg-block">Sagar</span>
    </a>
  </div><!-- End Logo -->

  <div class="search-bar ml-auto">
    Web Designer
  </div><!-- End Search Bar -->
  <nav class="header-nav ml-auto">
    <ul class="d-flex align-items-center">

      <li class="nav-item dropdown pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="d-md-block dropdown-toggle ps-2">K. Anderson</span>
        </a><!-- End Profile Iamge Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>Kevin Anderson</h6>
            <span>Web Designer</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
              <i class="bi bi-person"></i>
              <span>My Profile</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
              <i class="bi bi-gear"></i>
              <span>Account Settings</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
              <i class="bi bi-question-circle"></i>
              <span>Need Help?</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="#">
              <i class="bi bi-box-arrow-right"></i>
              <span>Logout</span>
            </a>
          </li>

        </ul><!-- End Profile Dropdown Items -->
      </li><!-- End Profile Nav -->

    </ul>
  </nav><!-- End Icons Navigation -->
</header><!-- End Header -->
<!-- ======= Sidebar ======= -->
<!-- *ngIf="isMen" -->

<!-- End Sidebar-->
<aside id="sidebar" class="sidebar" [ngClass]="status ? 'darSideBar' : 'genisSideBar'">

  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item mt-4">
      <a class="nav-link" routerLink="./home" routerLinkActive="active">
        <i class="bi bi-house-fill"></i>
        <span>Home</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link" routerLink="./form" routerLinkActive="active">
        <i class="bi bi-code-square"></i>
        <span>Form</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->
    <li class="nav-item">
      <a class="nav-link" routerLink="./contact" routerLinkActive="active">
        <i class="bi bi-envelope"></i>
        <span>Contact</span>
      </a>
    </li>
    <!-- End F.A.Q Page Nav -->
  </ul>
</aside>
<app-sidebar></app-sidebar>