<main id="main" class="main">
    <div class="card" style="padding: 20px; height: 75vh;">
        <strong style="padding: 10px;">Please click here to download the cert:</strong>
        <table class="table-bordered styled-table">
            <thead>
                <tr>
                    <th>Grey</th>
                    <th>QA (non prod)</th>
                    <th>prod</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>cert</td>
                    <td>Cert 	<a 
                        href="../../assets/sample-file.csv" 
                        target="_blank" 
                        download="sample-file.csv">
                            Download</a> to download</td>
                    <td>Cert <a 
                        href="../../assets/sample-file.csv" 
                        target="_blank" 
                        download="sample-file.csv">
                            Download</a> to download</td>
                </tr>
                <tr class="active-row">
                    <td>endpoint</td>
                    <td>Cras justo odio <br>Cras justo odio</td>
                    <td>Cras justo odio <br>Cras justo odio</td>
                </tr>
                <tr>
                    <td>Entity id</td>
                    <td>Cert <a 
                        href="../../assets/sample-file.csv" 
                        target="_blank" 
                        download="sample-file.csv">
                            Download</a> to download</td>
                    <td>Cert <a 
                        href="../../assets/sample-file.csv" 
                        target="_blank" 
                        download="sample-file.csv">
                            Download</a></td>
                </tr>
                <!-- and so on... -->
            </tbody>
        </table>
    </div>
    <app-footer></app-footer>
</main>
<!-- End #main -->