<ngx-loading></ngx-loading>
<main id="main" class="main">
  <div class="card" style="padding: 10px;">
    <section class="section dashboard mt-4">
      <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-12">
          <form [formGroup]="certForm" (ngSubmit)="updateCert()" style="margin-top: 35px;">
            <div class="row">
              <!-- Sales Card -->
              <div class="col-xxl-4 col-md-4">
                <div class="info-card sales-card">
                  <div class="card-body">
                    <label for="exampleInputPassword1">Application ID</label>
                    <input type="text" name="name" class="form-control" placeholder="Your Name" required
                      (change)="applicationIdOnChange()">
                  </div>

                </div>
              </div><!-- End Sales Card -->

              <!-- Revenue Card -->
              <div class="col-xxl-4 col-md-4">
                <div class="info-card revenue-card">
                  <div class="card-body">
                    <label for="exampleInputPassword1">Environment</label>
                    <form action="#">
                      <select name="languages" [(ngModel)]="qaPROD" name="lang" id="lang" class="dropdown-select"
                        (change)="applicationIdOnChange()">
                        <option>QA / Prod</option>
                        <option value="php">QA</option>
                        <option value="java">Prod</option>
                        <!-- <option value="java" *ngFor="let env of environment" [ngValue]="environment">{{env}}</option> -->
                      </select>
                    </form>
                  </div>

                </div>
              </div><!-- End Revenue Card -->
              <!-- Revenue Card -->
              <div class="col-xxl-4 col-md-4" *ngIf="qaPROD && qaPROD =='java'">
                <div class="info-card revenue-card">
                  <div class="card-body">
                    <label for="exampleInputPassword1">Number Prod</label>
                    <input type="text" name="name" class="form-control" placeholder="Number (if Prod Selected)"
                      required>
                  </div>

                </div>
              </div><!-- End Revenue Card -->
            </div>
          </form>
        </div><!-- End Left side columns -->
      </div>
    </section>
    <section class="section py-5">
      <div class="row">
        <div class="col-lg-12">

          <div class="card" style="margin-top: 90px;">
            <div class="card-body">
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Entity ID</th>
                    <th scope="col">Application Name</th>
                    <th scope="col">Cert Expiry</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><input type="checkbox" id="customRadio1" name="customRadio" class="custom-control-input"></th>
                    <td>Brandon Jacob</td>
                    <td>Designer</td>
                    <td>28</td>
                  </tr>
                  <tr>
                    <th scope="row">  <input type="checkbox" id="customRadio2" name="customRadio" class="custom-control-input"></th>
                    <td>Bridie Kessler</td>
                    <td>Developer</td>
                    <td>35</td>
                  </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>
    <div class="text-center">
      <button type="submit" class="btn btn-primary" (click)="updateCert()">Update Cert</button>
      <button type="reset" class="btn btn-primary ml-2" (click)="revertCert()">Revert Cert</button>
    </div>
  
  </div>
</main><!-- End #main -->