<main id="main" class="main">
    <div class="pagetitle">
        <h1>Annual cert renewal (Yr 2022)</h1>
    </div><!-- End Page Title -->
    <div class="card" style="padding: 20px;">
        <h5 class="card-title"><strong>What is happening ?</strong></h5>
        <p>Azure Active Directory (Azure AD) is a cloud-based identity and access management service. This service helps
            your employees access external resources, such as Microsoft 365, the Azure portal, and thousands of other
            SaaS applications. Azure Active Directory also helps them access internal resources like apps on your
            corporate intranet network, along with any cloud apps developed for your own organization. For more
            information about creating a tenant for your organization.</p>
        <strong style="padding: 10px;"> Important dates:</strong>
        <table class="table-bordered styled-table" style="width: 40%;">
            <thead>
                <tr>
                    <th>Date ( grey)</th>
                    <th>First</th>
                </tr>
            </thead>
            <tbody>
                <tr class="active-row">
                    <td>Nov 7, 2022</td>
                    <td>Azure Ad hkjfahkjhsahkjsah : <br>• Fhlkfhaks <br>• Hkjfahkjhf <br>• Hfakjhgjsa <br>• fdahskjfhsa
                    </td>
                </tr>
                <!-- and so on... -->
            </tbody>
        </table>
        <div class="col-lg-6">
            <div class="card-body">
                <h5 class="card-title"><strong>What you need to know: </strong></h5>
                <ol class="list-group list-group-numbered">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Cras justo odio</li>
                </ol>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</main>
<!-- End #main -->